<div style="margin-left : 30px; margin-bottom : 50px; width : 770px;">
    <h1 class="ya_title_header">Yet Another Combinatorial Testing Tool</h1>
    <hr/>
    <blockquote>
      An experimental implementation of <a href="http://blogs.msdn.com/b/nagasatish/archive/2006/11/30/pairwise-testing-pict-tool.aspx" target="_blank">PICT</a> clone powered by <a href="http://www-ise4.ist.osaka-u.ac.jp/~t-tutiya/CIT/" target="_blank">CIT-BACH</a> for anyone who has PICT parameters and wants to get the results while his/her life.<br/>
      Yactt is a free software copyrighted by Ikomamik. You can get source codes from <a href="https://github.com/ikomamik/yactt" target="_blank">https://github.com/ikomamik/yactt</a>
    </blockquote>
      <div>
        <h2 class="ya_title_header2">Specify <a href="http://www.amibugshare.com/pict/help.html" target="_blank">PICT parameters</a></h2>
        <p><!--Select template, -->Upload local parameter file (ASCII or UTF-8 encoding), or directly write parameters to the textarea.</p>
        <!--Template:
        <select name="ya_template" id="ya_template">
          <option value="">select samples</option>
          <option value="sample1.pict" disabled>simple model</option>
          <option value="sample2.pict" disabled>large model</option>
          <option value="sample3.pict" disabled>many constraints</option>
        </select>&nbsp;-->
        <form id="ya_load_file" method="POST" target="ya_load_work" action="./load_pict_param" enctype="multipart/form-data" style="width:40px; display: inline-block; display: inline">
           <input type="file" id="ya_paramFile" name="ya_paramFile" value="PICT parameter" />
           <input type="submit" value="load"  id="ya_submitParamFile" style="display:none" />
        </form>
        <iframe id="ya_load_work" name="ya_load_work" style="display:none"></iframe>
      </div>
      <form id="op_load_file" method="POST" action="./load_results" target="ya_result_work" enctype="multipart/form-data" style="width:40px; display: inline-block; display: inline">
      <div>
        &nbsp;&nbsp;<textarea name="ya_pictParam" id="ya_pictParam" rows="15" cols="80"></textarea>
        <br/>
        Value delimiter: <input name="ya_value_delimiter" type="text" size="1" value=","/>,&nbsp;
        Alias delimiter: <input name="ya_alias_delimiter" type="text" size="1" value="|" />,&nbsp;
        Prefix of negative value: <input name="ya_negative_prefix" type="text" size="1"  value="~"/>,&nbsp;
        Case Sensitive: <input name="ya_case_sensitive" type="checkbox" checked/>&nbsp;
      </div>
      <div>
        <h2 class="ya_title_header2">Set execution parameters (option)</h2>
        Solver:
        <select name="ya_back_end">
          <option value="CIT">CIT-BACH</option>
          <option value="ACTS" disabled>ACTS</option>
          <option value="ZDD" disabled>ZDD</option>
          <option value="PICT" disabled>PICT</option>
        </select>&nbsp;
        Pair Strength:
        <select name="ya_pair_strength">
          <option value="1" disabled>1</option>
          <option value="2" selected>2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="whole" disabled>Whole</option>
        </select>&nbsp;
        Seed for randomizing: <input name="ya_random_seed" type="text" size="4" />&nbsp;
        <br/>
        Expired Second: <input name="ya_timeout" type="text" size="1" />&nbsp;
        Verify Results: <input name="ya_verify" type="checkbox" />&nbsp;
      </div>
      <div>
        <h2 class="ya_title_header2">Submit parameters</h2>
        &nbsp;&nbsp;<input type="submit"  id="ya_submitFile"  value="Generate Test Data" />
        <br/><br/>
      </div>
    </form>
    <div id='ya_result_div'>
        <h2 class="ya_title_header2">Results</h2>
        <span id="ya_result"></span>
    </div>
    <iframe width="100%" id='ya_result_work' name="ya_result_work" style="display:none"></iframe>
    <hr/>
    Copyright (c) 2015 Ikoma, Mikio. All rights reserved.
</div>
