<!DOCTYPE html>
<html>
<head>
  <title>Yactt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script language="javascript">
    // Jqueryの処理記述
    $(function() {
      // PICTファイルアップロード指定時の処理
      $('#ya_paramFile').change(function(event) {
        $('#ya_result_work').hide();
        $('#ya_load_file').submit();
      });

      // ファイルアップロードが完了した時の処理
      $("#ya_load_work").load(function() {
        // アップロードされたファイルは、ワークのiframeに応答がある
        // のでそこから持ってくる
        var pict_param = $(this).contents().find('#ya_loaded_pict_param').text();
        $('#ya_pictParam').val(pict_param);
      });
      
      // ソルバの結果がロード完了した時の処理
      $("#ya_result_work").load(function() {
        // 結果がロードされた時、ワークのiframeに応答があるのでそこから持ってくる
        var results = $(this).contents().find('#ya_results_work');
        if(results.length > 0) {
          $('#ya_result_work').hide();
          $('#ya_result').html(results.html());
        } else {
          $('#ya_result').text('Failed');
          $('#ya_result_work').show();
        }
      });
      
    });
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
