<!DOCTYPE html>
<html>
<head>
  <title>Yactt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script language="javascript">
    // Jqueryの処理記述
    $(function() {
      // PICTファイルアップロード指定時の処理
      $('#ya_paramFile').change(function(event) {
        alert("foo");
        $('#ya_submitParamFile').submit();
        alert("goo");
      });

      // ファイルアップロードが完了した時の処理
      $("#ya_load_work").load(function() {
        // アップロードされたファイルは、ワークのiframeに応答がある
        // のでそこから持ってくる
        var json_data = $(this).contents().find("#loaded_js").text();
        if(json_data.length > 0){
          alarm(json_data);
          var json_obj = $.parseJSON(json_data);
          // do something
        } else {
          alarm("error");
        }
      });
      
    });
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
