<% # encoding: utf-8 %>
<!DOCTYPE html>
<html>
<head>
    <title>マイヤーズの三角形問題</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script language="javascript">
    
    // 与えられた三辺の長さをチェックし、予想された三角形の種類と同じかチェックし、
    // チェック結果のメッセージを返す。
    function check_triangle(x, y, z, expected){
      var result;  // 結果を格納する文字列
      
      if(isNaN(x) || isNaN(y) || isNaN(z)){
        result = "入力値エラー";
      } else if(x <= 0 || y <= 0 || z <= 0){
        result = "入力値エラー";
      } else if((x+y)<=z || (x+z)<=y || (y+z)<= x){
        result = "三角形以外";
      } else if(x == y && x == z){
        result = "正三角形";
      } else if(x == y || x == z || y == z){
        result = "二等辺三角形";
      } else {
        result = "不等辺三角形";
      }
      
      // 結果が正しいかどうか判定
      if(result == expected){
        return("OK: result:" + result);
      } else {
        return("NG: result:" + result + ", x=" + x + ", y=" + y + ", z=" + z);
      }
    }
    
    // 値を読み込んで前処理（数値以外が入っているとNaN等になる）
    function check_this_line(tr_obj){
      // 同じ行にあるセルの１，２，３列目から辺の長さを得る
      var x = Number($('input:text', tr_obj.children('td:eq(0)'))[0].value);
      var y = Number($('input:text', tr_obj.children('td:eq(1)'))[0].value);
      var z = Number($('input:text', tr_obj.children('td:eq(2)'))[0].value);
      
      // 同じ行にあるセルの４列目から期待する結果を得る
      var expected = $('select', tr_obj.children('td:eq(3)'))[0].value;
      
      // チェックルーチンを呼び出し、結果を表示する
      var message = check_triangle(x, y, z, expected);
      $(tr_obj.children('td:eq(5)'))[0].innerText = message;
    }
    
    var case_num = 1;
    
    function show_hidden_question(){
      $('#hidden_question').show();
    }
    
    // ボタンを押した時の処理を登録(Jquery)
    $(function() {
      $('#submit_it').click(
        function() {
          show_hidden_question();
        });
      $('#button_0').click(
        function() {
          check_this_line($(this).closest('tr'));
        });
      $('#clone_0').click(
        function() {
          var current_tr = $(this).closest('tr');
          var current_type = current_tr.find('#trig_type').val();
          var new_tr = current_tr.clone( true );
          new_tr.find('#trig_type').val(current_type);
          $(new_tr.children('td:eq(5)'))[0].innerText = "";
          current_tr.after( new_tr );
        });
      $('#remove_0').click(
        function() {
          $(this).closest('tr').remove();
        });
    });
    
    </script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <style type="text/css">
  <!--
    body {
      margin: 10px;
      width: 1200px;
    }
    table {
      border-collapse: collapse;
    }
    th{
      padding: 6px;
      text-align: left;
      vertical-align: top;
      color: #333;
      background-color: #eee;
      border: 1px solid #b9b9b9;
    }
    td{
      padding: 6px;
      background-color: #fff;
      border: 1px solid #b9b9b9;
    }
    
  -->
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
